.wrapper{
  background-color: rgb(235, 235, 243);
  border: solid black 2.5px;
  padding: 2em;
  margin: 75px;}
  margin-top:

ul li{
  
  text-decoration: none;
  display: inline-block;
  margin-right: 20px;
}
h1{
  text-align: center;
}
.name{
  text-align: center;
  padding-top: 3em;
}
.header{
  text-align: center;
}
.lftFloat1{
  float:right;
}
.rgtShft{
  margin-right:25px;
}