.wrapper{
  background-color: rgb(235, 235, 243);
  border: solid black 2.5px;
  padding: 2em;
}

ul{
  list-style-type: none;
  float: right;
}
li{
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  text-decoration-line:none;
}

h1{
  text-align: center;
}
.name{
  text-align: center;
  padding-top: 3em;
}
.header{
  text-align: center;
}
.lftFloat1{
  float:right;
}
